/* @import-normalize; bring in normalize.css styles */

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'QuickSand', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(136, 136, 136);
}

code {
  font-family: 'QuickSand', sans-serif;
}